# Default ignored files
/../../LargeScraperProject /.idea/shelf/
/../../LargeScraperProject /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../LargeScraperProject /.idea/httpRequests/
# Datasource local storage ignored files
/../../LargeScraperProject /.idea/dataSources/
/../../LargeScraperProject /.idea/dataSources.local.xml
